@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Edge Application</h1>
    <p>Build version @ViewData["AppVersion"]</p>
</div>
<div class="text-left">
    <div>
        <h2>App Settings</h2>
        <table class="table text-center">
            <thread>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
            </thread>
            <tbody>
            @foreach (var keyValuePair in ViewData["Settings"] as Dictionary<string, string>)
                {
                    <tr>
                        <td>
                            @keyValuePair.Key
                        </td>
                        <td>
                            @keyValuePair.Value
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <h2>App Secrets</h2>
        <table class="table text-center">
            <thread>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
            </thread>
            <tbody>
            @foreach (var keyValuePair in ViewData["Secrets"] as Dictionary<string, string>)
                {
                    <tr>
                        <td>
                            @keyValuePair.Key
                        </td>
                        <td>
                            @keyValuePair.Value
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>